@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    /* The CSS box-sizing property allows us to include the padding and border in an element's total width and height. */
    box-sizing: border-box;
}

body, button, input {
    font-family: 'Raleway', sans-serif;
}

/* vh represents the viewport-percentage length unit based on the browser default viewport size. */
body {
    max-height: 100vh;
    max-width: 100vh;
    overflow: hidden;
}